*{
    background-color: #97A87A;
}
.workspace{
    height: 90vh;
    width:35vw;
    background-color: #213C51;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
}

.screen{
    display: flex;
    flex-direction: column;
    height:20%;
    width:90%;
    /* padding:1.5rem; */
    background-color: white;
    color: black;
    margin: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
}
.button-area{
    display:flex;
    height:80%;
    width:90%;
    margin:1.5rem;
    margin-top: 0.6rem;
    background-color: #6C757D;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
}
.button-set1{
    display:flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:3rem;
    background-color: transparent;
}

.button-set1 button{
    width: 4.5rem;
    height: 3rem;
    aspect-ratio: 1 / 0.7;
    font-size:1.5rem;
    border-radius: 0.5rem;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
    width:20%;
    background-color: transparent;
}
.button-set2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    gap: 1.2rem;
    background-color: transparent;
}
.button-set2 button{
    width: 3rem;
    height: 2.5rem;
    aspect-ratio: 1 / 0.7;
    font-size:1rem;
    border-radius: 0.3rem;
}
.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70%;
    width:12%;
    background-color: transparent;
}
.blue{
    background-color:#007BFF;
    color:white
}
.blue2{
    background-color: #0f149b;
    color: white;
}
.red{
    background-color: #DC3545;
    color:white;
    font-weight: 600;
}
.pink{
    background-color: rgb(183, 89, 105);
    color: white;
}
.orange{
    background-color: orange;
    color: white;
}
.button-set1 button:hover{
    width:5.2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}
.button-set2 button:hover{
    width:3.3rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}

/* #user-input {
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 2rem;
    color: black;
    border-radius: 8px;
    background-color: white;
    
} */
@media(max-width:1100px){
    .workspace{
        width:40vw;
    }
}
@media(max-width:800px){
    .workspace{
        width:45vw;
    }
}
@media(max-width:1100px){
    .button-set1{
        gap: 2rem;
    }
    .button-set1 button{
        width:3.5rem;
        height:2.5rem;
        font-size:1rem
    }
    .button-set2{
        gap: 0.5rem;
    }
    .button-set2 button{
        width:2.5rem;
        height:2.2rem;
        font-size:0.9rem ;
    }
}
@media(max-width:750px){
    .button-set1{
        gap:1rem;
    }
    .button-set2 button{
        width:2rem;
        height:1.5rem;
        font-size: 0.68rem;
    }
    #special{
        width:2.2rem;
        font-size: 0.5rem;
    }
    .screen{
        margin-left: 1rem;
    }
    .button-area{
        margin-left: 1rem;
    }
}
@media(max-width:450px){
    .workspace{
        width:70vw;
    }
    .button-set1  button{
        width:2.5rem;
        height:2rem;
        font-size:0.7rem;
    }
    .screen{
        margin-left: 1rem;
    }
    .button-area{
        margin-left: 1rem;
    }
}